/* default: #78a300 */

body {
  background: #333;
  color: white;
  text-align: center;
}

.buttonBoard {
  margin: 6em auto;
  width: 1125px;
}

.buttonBoard div div {
  background: aliceblue;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: inset -2px -2px 8px rgba(0,0,0,0.25);
  display: inline-block;
  height: 60px;
  width:  60px;
  margin: 4px;
}

.buttonBoard div div.lit {
  background: #daff75;
  border: 1px solid #daff75;
  box-shadow: 0px 0px 20px #daff75;
}